* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  color: #fff;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2A2F32;
  padding: 20px;
}

header {
  margin-bottom: 20px;
  text-align: center;
}

.pages {
  text-align: center;
  margin-bottom: 20px;
}

.pages span {
  margin: 0 5px;
}

input, button {
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
  background-color: #B1B3B5;
}

button[disabled=true] {
  background-color: gray;
}

input {
  width: 100%;
  flex-grow: 1;  
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 0 10px;
  background-color: #056162;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #074344;
}

button[disabled=true]:hover {
  background-color: gray;
}

ul {
  width: 100%;
}

li {
  list-style: none;
  padding: 5px 10px;
}

main > ul > li:nth-child(odd) {
  background-color: #565d61;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}