extends components/layout.pug

block content
  div(class="w-full max-w-md mx-auto")
    div(class="grid grid-cols-3 gap-2 [&>button]:btn-primary")
      button#start Iniciar
      button#clear Limpar
      button#reset Resetar
    input(
      type="text",
      class="w-full text-field mt-2",
      placeholder="Insira as notas separadas por espaço"
    )
  ul(
    class="paper flex-1 mt-4 [&>li]:border-b [&>li]:border-gray-500 overflow-y-auto scrollbar-thin scrollbar-thumb-violet-700 scrollbar-track-zinc-900 pr-2"
  )
    li Painel de logs

  script(src="/socket.io/socket.io.js")
  script(src="scripts/home.js")
