style
  include ../styles/header.css
header
  h1 Bot Samb@net
  p Script para automatizar a associação de produtos durante o lançamento de Notas Fiscais utilizando o software&ensp;
    a(href="https://getway.com.br/universo-sambanet/" target="_blank") Samb@net

  nav
    a(href="/") Página Inicial
    <span>|</span>
    a(href="associated-products") Produtos Associados
    <span>|</span>
    a(href="pending") Pendentes
